body {
	margin: 0 auto;
	max-width: 40em;
	padding: 2em;
  line-height: 1.5;
  color: #314249;
	font-family: 'Source Sans Pro', sans-serif;
}

h1 {
	font-size: 3em;
	line-height: 1.2;
}

h2 {
	font-size: 2em;
}

a {
	color: #3870AD;
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    padding: 1em 0;
}
