body {
	margin: 0 auto;
	max-width: 40em;
	padding: 2em;
  line-height: 1.5;
  color: #314249;
	font-family: 'Source Sans Pro', sans-serif;
}

h1 {
	font-size: 3em;
	line-height: 1.2;
}

h2 {
	font-size: 2em;
	line-height: 1.2;
}

a {
	color: #3870AD;
}

a:hover {
	color: #6098D4;
}

a:focus {
	color: #314249;
	background-color: #EACD86;
	outline: 3px solid #EACD86;
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    padding: 1em 0;
}

blockquote {
    border-left: 5px solid #90999C;
    padding-left: 1em;
    font-size: 1.5em;
    margin: 1em 0;
	}
